/*
    Document   : controlStyle1
*/

.root{
    -fx-font-size: 14pt;
    -fx-font-family: "Tacoma";
    -fx-base: #9c3d00;

    /*
    -fx-background-image: url("/view/texture/background.jpg");
     */

    -fx-background-image: url("/view/texture/background3.jpg");


    -fx-background-size: stretch;
    -fx-background: #9c6200;
    -fx-focus-color: #ad6d00;
    -fx-text-fill: #ffffff;
    -fx-wrap-text: true;

}
/*
.label {
-fx-background-color: #1a1a1a;
-fx-text-fill: #ffffff;
-fx-border-radius: 0px;
-fx-background-radius: 0px;
-fx-pref-height: 10px;
-fx-wrap-text: true;
}

 */



.static-text{
    -fx-background-color: #9c6200;
    -fx-text-fill: #ffffff;
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
    -fx-pref-height: 30px;
    -fx-pref-width: 160px;
    -fx-wrap-text: true;

}

.static-header{
    -fx-background-color: #2e1e00;
    -fx-text-fill: #ffffff;
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
    -fx-pref-height: 60px;
    -fx-pref-width: 500px;
    -fx-wrap-text: true;

}

.button {
    -fx-background-color: #9c3d00;
    -fx-text-fill: #ffffff;
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
    -fx-pref-height: 10px;
    -fx-wrap-text: true;
}

.button:hover {
    -fx-background-color: #ad6d00
}

.text-field{
    -fx-background-color: #9c3d00;
    -fx-border-color: none;
    -fx-background-radius: 0;
    -fx-font-size: 14px;
    -fx-border-radius: 0px;
    -fx-text-fill: #ffffff;
    -fx-wrap-text: true;
}

.text-field:hover {
    -fx-background-color: #ad6d00
}

.text-id {
    -fx-font-smoothing-type: lcd;
    -fx-fill: white;
    -fx-font-size: 14pt;
    -fx-wrap-text: true;
}

.choice-box {
    -fx-background-color: #9c3d00;
    -fx-text-fill: #ffffff;
    -fx-border-radius: 0px;
    -fx-background-radius: 0;
    -fx-pref-height: 10px;
    -fx-text-color: #ffffff;
}

.choice-box:hover {
    -fx-background-color: #ad6d00
}

/* Hintergrundfarbe des Kontext-Menüs */
.choice-box .context-menu { -fx-background-color: #9c3d00; }
/* Menü-Ding kokussiert */
.choice-box .menu-item:focused { -fx-background-color: #ad6d00; }
/* Text Farbe vom Ding */
.choice-box .menu-item > .label { -fx-text-fill: white; }
/* Text Farbe vom fokussierten Ding */
.choice-box .menu-item:focused > .label { -fx-text-fill: white; }

.table-view{
    -fx-background-color: transparent;
}

.table-view:focused{
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: #9c6200;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: white;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #9c3d00;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #9c3d00;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:selected {
    -fx-background-color: #ad6d00;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.combo-box {
    -fx-background-color: #9c3d00;
    -fx-text-fill: #ffffff;
    -fx-border-radius: 0px;
    -fx-background-radius: 0;
    -fx-pref-height: 10px;
}

.combo-box:hover {
    -fx-background-color: #ad6d00
}

/* Hintergrundfarbe des Kontext-Menüs */
.combo-box .combo-box-popup .list-view .list-cell  { -fx-background-color: #9c3d00; }
/* Menü-Ding kokussiert */
.combo-box .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover  { -fx-background-color: #ad6d00; }
/* Text Farbe vom Ding */
.combo-box .menu-item > .label { -fx-text-fill: white; }
/* Text Farbe vom fokussierten Ding */
.combo-box .menu-item:focused > .label { -fx-text-fill: white; }

.text-area .content{
    -fx-background-color: #9c3d00;
    -fx-border-color: none;
    -fx-background-radius: 0;
    -fx-border-radius: 0px;
    -fx-text-fill: #ffffff;
    -fx-wrap-text: true;
}

.text-area{
    -fx-text-fill: #ffffff;
    -fx-wrap-text: true;
}

.grid-background{
    -fx-background-image: url("/view/texture/timeBoard.jpg");
    -fx-background-size: stretch;
}

.grid-background-1{
    -fx-background-image: url("/view/texture/timeBoard1.jpg");
    -fx-background-size: stretch;
}

.grid-background-2{
    -fx-background-image: url("/view/texture/timeBoard2.jpg");
    -fx-background-size: stretch;
}

.grid-background-3{
    -fx-background-image: url("/view/texture/timeBoard3.jpg");
    -fx-background-size: stretch;
}

.grid-background-4{
    -fx-background-image: url("/view/texture/timeBoard4.jpg");
    -fx-background-size: stretch;
}

.grid-background-5{
    -fx-background-image: url("/view/texture/timeBoard5.jpg");
    -fx-background-size: stretch;
}

.home-background{
    -fx-background-image: url("/view/texture/home.png");
    -fx-background-size: stretch;
    -fx-background-color: Wheat;
}

.hint-background{
    -fx-background-image: url("/view/texture/hint.png");
    -fx-background-size: stretch;
    -fx-background-color: Wheat;
}

.redo-background{
    -fx-background-image: url("/view/texture/redo.png");
    -fx-background-size: stretch;
    -fx-background-color: Wheat;
}

.undo-background{
    -fx-background-image: url("/view/texture/undo.png");
    -fx-background-size: stretch;
    -fx-background-color: Wheat;
}

.enemy-background{
    -fx-background-image: url("/view/texture/enemy.png");
    -fx-background-size: stretch;
    -fx-background-color: Wheat;
}

.no-background{

}

.player-1{
    -fx-background-image: url("/view/texture/meeplered.png");
    -fx-background-size: stretch;

}

.player-2{
    -fx-background-image: url("/view/texture/meepleyellow.png");
    -fx-background-size: stretch;
}

.output-text{
    -fx-background-color: #9c3d00;
    -fx-text-fill: #ffffff;
    -fx-border-radius: 5px;
    -fx-background-radius: 0px;
    -fx-pref-height: 160px;
    -fx-pref-width: 160px;
    -fx-wrap-text: true;

}

.static-text-2{
    -fx-background-color: #9c6200;
    -fx-text-fill: #ffffff;
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
    -fx-pref-height: 30px;
    -fx-pref-width: 340px;
    -fx-wrap-text: true;

}

.place{
    -fx-backgroung-image: url("/view/texture/1Mal1/Place.png");
}

.player1color{
    -fx-background-color: #9c6200;
    -fx-text-fill: blue;
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
    -fx-pref-height: 30px;
    -fx-pref-width: 340px;
    -fx-wrap-text: true;
    -fx-font-weight: bold;
}

.player2color{
    -fx-background-color: #9c6200;
    -fx-text-fill: black;
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
    -fx-pref-height: 30px;
    -fx-pref-width: 340px;
    -fx-wrap-text: true;
    -fx-font-weight: bold;
}

